input.zip { padding: 5px 10px; font-size: 26px;height: 30px;}
button.submit { font-size: 26px; padding: 1px 10px;line-height: 40px;margin-bottom:8px;}
p.submit { text-align: center; }
#main {
    margin: auto;
    width: 50%;
}

#movies {
    list-style-type: none;
    margin: 0;
}
#movies li {
    margin-left: 0;
    margin-bottom: 2.5em;
    padding-left: 120px;
    min-height: 160px;
}
.movie-title {
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    margin: 10px 0;
    text-rendering: optimizelegibility;
    text-decoration: none;
    border-bottom: 1px solid #EEEEEE;
    margin-right: 0.25em;
}
.r,.nr {background-color:#900;}
.pg-13{background-color:#706;}
.pg,.g,.reserve{background-color:#070;}
.reserve{font-size:150%;width:150px;float:right;}
.reserve a{color:#fff;}