<!DOCTYPE html>
<html class="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <!--
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.1.min.js"></script>
        -->
        <link rel="stylesheet" href="/static/bootstrap-custom.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <title>Top rated movies in Redbox kiosks near {{ zipcode }}</title>
    <body>

        <div id="main">
            <h1>Top rated movies Redbox kiosks near {{ zipcode }}</h1>
            <p>Bookmark this page to see the best movies in all of your local Redbox kiosks at a glance. You may also choose to <a href="/">select a different zip code</a>.</p>
            <ul id="movies">
                {% for movie in results %}
                    <li style='background: url("{{ movie.thumb }}") 0 10px no-repeat'>
                        <a href="{{ movie.reservation_link }}" class="movie-title">{{ movie.title }}</a>
                        <span class="badge badge-inverse mpaa-rating {{ movie.mpaarating.lower() }}" title="MPAA Rating">{{ movie.mpaarating }}</span>
                        <span class="badge badge-inverse format {{ movie.format or movie['@format'] }}" title="Format">{{ movie.format or 'DVD' }}</span>
                        <span class="badge badge-inverse critic-score" title="Critics Score">{{ movie.critics_score }}</span>
                        <span class="badge badge-inverse audience-score" title="Audience Score">{{ movie.audience_score }}</span>
                        <div class="description">
                            <p class="synopsis">{{ movie.synopsislong }}</p>
                            <p class="consensus">{{ movie.critics_consensus }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>



        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <!--
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        -->

        <script>
        // /:zip
        $(function() {
            $('button.submit').click(function(eventObject){
                eventObject.preventDefault();
                var zip_code = $('#id_zip').val();
                window.location.href = "/" + zip_code;
            });
        });
        </script>

        <script>
            var _gaq=[['_setAccount','UA-34250561-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>